@page "/games"
@inject IGameService GameService
@attribute [StreamRendering]
@using BlazorCrudDotNet8.Components.Shared

<h3>GameList</h3>

@if (games is null)
{
    <p><em>Loading...</em></p>
}
else if (games.Count == 0)
{
    <p><em>No games found.</em></p>
}
else
{
    <ul>
        @foreach (var game in games)
        {
            <li>@game.Name <EditGameButton Id="game.Id" /> </li>
        }
    </ul>
}

<CreateGameButton />

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }    
}